# ======================
# Java + Maven Projects
# ======================

# Eclipse
.project
.classpath
.factorypath
.settings/

# IntelliJ
.idea/
*.iml

# Maven build
target/
*.jar

# Logs and Debug files
*.log
hs_err_pid*.log
replay_pid*.log

# OS/System files
.DS_Store
Thumbs.db
